pip-tools
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
pandas
# dvc[s3]
# icecream
transformers
torch
--extra-index-url https://download.pytorch.org/whl/cpu
# jupyterlab
# pyarrow
streamlit
psycopg2